.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.2s;
}

.cursor.visible {
  opacity: 1;
}
